.chatScreen__message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.chatScreen__text{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}
.chatScreen__textUser{
    margin-left: auto;
    background-color: #00a2ec;
    padding: 15px;
    border-radius: 20px;
}
.chatScreen__input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
.chatScreen__field{
    flex: 1;
    padding: 10px;
    border: none;
}
.chatScreen__btn{
    margin-right: 10px;
    border: none;
    background-color: lightcoral;
    font-weight: 700;
    color: mediumblue;
    border-radius: 20px;
}